# Environment variables
.env
.env.*

# Python
.venv/
__pycache__/
*.pyc
/mcp_servers/data
/mcp_servers/server_1/archive


# Node
node_modules/
dist/
build/

# Go
bin/
*.exe
*.test

# Firebase
*serviceAccountKey*.json


*.out